@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-preloader-bg: #eceeec;
  --color-loader: #1a1a1a;
  --color-loader-light: #8e8f8e;
}

html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 3rem;
  max-width: 123rem;
  margin: 0 auto;
}

#preloader {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: var(--color-preloader-bg);
  z-index: 500;
  height: 100vh;
  width: 100%;
  opacity: 1;
  overflow: hidden;
}

#preloader {
  display: none;
}

#loader {
  position: relative;
  width: 4px;
  height: 4px;
  padding: 0;
  display: inline-block;
}

#loader > div {
  content: "";
  background: var(--color-loader);
  width: 4px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#loader > div:nth-of-type(1) {
  left: 15px;
}

#loader > div:nth-of-type(3) {
  left: -15px;
}

.dots-pulse > div {
  animation: dots-pulse 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-pulse > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-pulse > div:nth-of-type(3) {
  animation-delay: 0s;
}

@keyframes dots-pulse {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.3);
  }

  80% {
    transform: scale(1);
  }
}

.title-1 {
  font-size: 3.4rem;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.7rem 2.2rem;
  background-color: #070707;
  border-radius: 30px;
  font-size: 1.8rem;
  color: #fff;
  transition: background-color 0.2s, top 0.2s ease-in;
}

.btn:hover,
.btn:focus {
  background-color: #323232;
}

.btn:active {
  position: relative;
  top: 1px;
  background-color: #000;
}

.header {
  padding-top: 4.6rem;
  background-color: #f1f1f1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 7.6rem;
}

.logo {
  position: relative;
  padding: 0 1.2rem 0.3rem 0;
  line-height: 1;
  font-weight: 700;
  font-size: 3.2rem;
  color: #000;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fda300;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  column-gap: 5rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.nav-btn {
  display: none;
}

.nav-link {
  color: #000;
}

.nav-link.active {
  color: #606060;
}

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
}

.header-heading {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 4.4rem;
}

.header-content {
  max-width: 50rem;
  margin-top: 12.4rem;
}

.header-content p {
  font-size: 1.4rem;
  line-height: 2;
}

.services {
  padding: 9rem 0;
}

.services-row {
  display: flex;
  column-gap: 3rem;
  row-gap: 6rem;
  flex-wrap: wrap;
}

.service-card {
  flex: 1 1 0;
  min-width: 31.5rem;
}

.service-card-img {
  margin-bottom: 3rem;
}

.service-card-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2.4rem;
}

.service-card p {
  font-size: 1.4rem;
  line-height: 2;
}

.portfolio {
  padding: 9rem 0;
  background-color: #f1f1f1;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 7rem;
}

.project {
  text-align: center;
}

.project + .project {
  margin-top: 9rem;
}

.project-img {
  margin-bottom: 4rem;
}

.project-title {
  font-size: 1.8rem;
}

.project-title a {
  color: #000;
  text-decoration: underline;
}

.contacts {
  padding: 9rem 0;
  text-align: center;
}

.contacts-title {
  margin-bottom: 4rem;
}

.contacts-content {
  font-size: 1.8rem;
  margin: 0 auto 4rem;
}

.contacts-button {
  margin-bottom: 8rem;
}

.contacts-social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
  margin-bottom: 4rem;
}

.contacts-footer {
  color: #828282;
}
