@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-bg-color: #f7fbfd;
  --primary-accent: #0c1618;
  --secondary-accent: #6f1d1b;

  --main-text-color: #0c1618;
  --gray-text-color: #565a5b;

  --white-color: #fff;
  --gray-color: #e9e8e8;
  --gray-color-2: #c0c0c0;
  --gray-color-3: #e6e6e6;

  --color-preloader-bg: #eceeec;
  --color-loader: #1a1a1a;
  --color-loader-light: #565a5b;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 3rem;
  max-width: 123rem;
  margin: 0 auto;
}

.container-lg {
  max-width: 160rem;
}

.title {
  font-size: 4.4rem;
  font-weight: 600;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.7rem 2.2rem;
  background-color: #070707;
  border-radius: 30px;
  font-size: 1.8rem;
  color: #fff;
  transition: background-color 0.2s, top 0.2s ease-in;
}

.btn:hover,
.btn:focus {
  background-color: #323232;
}

.btn:active {
  position: relative;
  top: 1px;
  background-color: #000;
}

.header {
  z-index: 100;
  background-color: transparent;
  height: 7.2rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.5rem 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  height: 7.2rem;
}

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  padding-top: 0px;
  padding-bottom: 0px;
  animation: slideInDown 0.3s ease-in-out;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
  }
}

.logo {
  position: relative;
  padding: 0 1.2rem 0.3rem 0;
  line-height: 1;
  font-weight: 600;
  font-size: 3.2rem;
  color: var(--main-text-color);
}

.logo span {
  color: var(--secondary-accent);
  font-size: 4rem;
}

.nav-list {
  display: flex;
  column-gap: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
}

.nav-btn {
  display: none;
}

.nav-link {
  color: var(--color-loader-light);
}

.nav-link.active {
  color: var(--secondary-accent);
  font-weight: 600;
}

.hero {
  padding-top: 17.2rem;
  background-color: var(--primary-bg-color);
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-content {
  width: 60%;
  align-self: center;
  padding: 2rem;
}

.header-greeting {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--secondary-accent);
}

.header-heading {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 8rem;
  line-height: 1.2;
}

.header-heading-subtitle {
  font-size: 2rem;
  font-weight: 400;
  /* color: var(--gray-text-color); */
}

.header-content-btns {
  margin-top: 6.4rem;
}

.btn-2 {
  display: inline-block;
  height: 5.2rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 5.2rem;
  padding: 0 3.6rem;
  margin: 0 1.2rem 1.6rem 0;
  color: var(--white-color);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--primary-accent);
  border: 2px solid var(--primary-accent);
  transition: all 0.3s ease-in;
}

.btn-2:hover,
.btn-2:focus {
  background-color: var(--secondary-accent);
  border-color: var(--secondary-accent);
  color: var(--white-color);
  outline: 0;
}

.btn-2:active {
  /* position: relative;
  top: 1px; */
  background-color: #8b4a48;
}

.btn-3 {
  background: transparent;
  font-weight: 700;
  border: 2px solid var(--primary-accent);
  color: var(--primary-accent);
  transition: all 0.3s ease-in;
}

.btn-3:hover,
.btn-3:focus {
  background: var(--primary-accent);
  border: 2px solid var(--primary-accent);
  color: var(--white-color);
}

.btn-3:active {
  /* position: relative;
  top: 1px; */
  background-color: #3c4446;
}

.btn-4 {
  background: var(--secondary-accent);
  border: 2px solid var(--secondary-accent);
  color: var(--white-color);
  transition: all 0.3s ease-in;
}

.btn-4:hover,
.btn-4:focus {
  background: var(--primary-accent);
  border: 2px solid var(--primary-accent);
}

.btn-4:active {
  /* position: relative;
  top: 1px; */
  background-color: #3c4446;
}
/* .header-img {
  max-width: 50%;
  position: absolute;
  top: 0;
  right: 0;
} */

/* .header-content p {
  font-size: 1.4rem;
  line-height: 2;
} */

.about {
  padding: 10rem 0;
}

.about-title {
  margin-bottom: 4rem;
}

.about-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}

.about-content {
  flex: 0 0 60%;
  max-width: 60%;
  padding-right: 4rem;
}

.about-skills {
  flex: 0 0 40%;
  max-width: 40%;
  padding-left: 4rem;
}

.skill {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 3rem;
}

.skill-title,
.skill-percent {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.skill-percent {
  float: right;
}

.skillbar {
  height: 0.4rem;
  background-color: var(--secondary-accent);
}

.skillbar:before {
  background: var(--gray-color);
  content: "";
  height: 0.4rem;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.about-descr {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: var(--gray-text-color);
}

.about-download-btn {
  margin-top: 4rem;
}

.services-row {
  display: flex;
  column-gap: 3rem;
  row-gap: 6rem;
  flex-wrap: wrap;
}

.service-card {
  flex: 1 1 0;
  min-width: 31.5rem;
}

.service-card-img {
  display: block;
  height: 5rem;
  margin: 0 auto 2rem;
  filter: invert(33%) sepia(7%) saturate(243%) hue-rotate(145deg)
    brightness(94%) contrast(81%);
}

.service-card-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.service-card p {
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: center;
  color: var(--gray-text-color);
}

.portfolio {
  padding: 10rem 0;
  background-color: var(--primary-bg-color);
}

.portfolio-title {
  text-align: center;
  margin-bottom: 4rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  text-align: center;
}

.project-box {
  position: relative;
  overflow: hidden;
  display: block;
  max-width: 51rem;
}

.project-box a {
  display: inline-block;
}

.project-box:hover .project-mask {
  opacity: 1;
  visibility: visible;
}

.project-box:hover .project-mask .project-caption {
  bottom: 30px;
  opacity: 1;
}

.project-box:hover .project-container {
  transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%;
}

.project-container {
  transform: scale(1);
  width: 100%;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.project-mask {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.project-mask p {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin-top: 0;
  text-align: left;
}

.project-mask .project-caption {
  position: absolute;
  bottom: -60px;
  left: 0px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  transition: all 0.5s ease-in-out 0s;
  opacity: 0;
}

h5 {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.project-mask p {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin-top: 0;
  text-align: left;
}

.white {
  color: var(--white-color);
}

.project + .project {
  margin-top: 9rem;
}

.project-img {
  margin-bottom: 4rem;
}

.project-title {
  font-size: 1.8rem;
}

.project-title a {
  color: #000;
  text-decoration: underline;
}

.contact {
  padding: 10rem 0;
  text-align: center;
}

.contact-title {
  margin-bottom: 4rem;
}

.contact-content {
  font-size: 1.8rem;
  margin: 0 auto 4rem;
}

.contact form {
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: var(--gray-text-color);
  border: 1px solid var(--gray-color-2);
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 100%;
}

.contact form textarea {
  resize: none;
}

.footer {
  background-color: var(--primary-accent);
  color: var(--gray-color-3);
}

.footer-row {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  align-items: center;
  padding: 4rem 0;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-bottom: 3rem;
}

.footer-social a {
  height: 2.4rem;
  width: 2.4rem;
  filter: invert(33%) sepia(7%) saturate(243%) hue-rotate(145deg)
    brightness(94%) contrast(81%);
  transition: all 0.3s ease-in-out;
}

.footer-social a:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.footer-copyright {
  font-size: 1.6rem;
}

#preloader {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: var(--color-preloader-bg);
  z-index: 500;
  height: 100vh;
  width: 100%;
  opacity: 1;
  overflow: hidden;
}

#preloader {
  display: none;
}

#loader {
  position: relative;
  width: 4px;
  height: 4px;
  padding: 0;
  display: inline-block;
}

#loader > div {
  content: "";
  background: var(--color-loader);
  width: 4px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#loader > div:nth-of-type(1) {
  left: 15px;
}

#loader > div:nth-of-type(3) {
  left: -15px;
}

.dots-pulse > div {
  animation: dots-pulse 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-pulse > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-pulse > div:nth-of-type(3) {
  animation-delay: 0s;
}

@keyframes dots-pulse {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.3);
  }

  80% {
    transform: scale(1);
  }
}
