@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 3rem;
  max-width: 123rem;
  margin: 0 auto;
}

.header {
  padding-top: 4.6rem;
  background-color: #f1f1f1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 7.6rem;
}

.logo {
  position: relative;
  padding: 0 1.2rem 0.3rem 0;
  line-height: 1;
  font-weight: 700;
  font-size: 3.2rem;
  color: #000;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fda300;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  column-gap: 5rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.nav-link {
  color: #000;
}

.nav-link.active {
  color: #606060;
}

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
}

.header-heading {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 4.4rem;
}

.header-content {
  max-width: 50rem;
  margin-top: 12.4rem;
}

.header-content p {
  font-size: 1.4rem;
  line-height: 2;
}
