@media (max-width: 1320px) {
  .container-lg {
    max-width: 120rem;
  }

  .hero-content {
    padding: 0;
  }

  .header-nav {
    padding: 0;
  }

  .service-card {
    padding: 0 1rem;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 97.5rem;
  }

  .title {
    font-size: 4rem;
  }

  .hero-heading {
    font-size: 7rem;
  }

  .about-skills {
    min-width: 70%;
    padding-left: 0;
  }

  .about-content {
    padding-right: 0;
  }

  .service-card-title {
    font-size: 1.8rem;
  }

  .about,
  .projects,
  .contact {
    padding: 8rem 0;
  }
}

@media (max-width: 977px) {
  html {
    font-size: 62%;
  }

  .container {
    max-width: 72rem;
  }

  .logo {
    font-size: 2.6rem;
  }

  .nav-list {
    display: none;
  }

  .nav-btn {
    display: block;
  }

  .nav.open .nav-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    padding: 4.6rem 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    font-size: 3rem;
    font-weight: 500;
  }

  .nav-link {
    color: #c0c0c0;
  }

  .nav-link.active {
    color: #0c1618;
  }

  .nav-btn {
    position: absolute;
    z-index: 9;
    top: 5.2rem;
    right: 3rem;
  }

  .nav.open .nav-btn {
    position: fixed;
  }

  .header-nav {
    margin-bottom: 0rem;
  }

  .hero {
    padding-top: 16rem;
  }

  .hero-greeting {
    font-size: 1.6rem;
  }
  .hero-heading {
    font-size: 5.2rem;
  }
  .hero-heading-subtitle {
    font-size: 1.6rem;
  }

  .social-links-row {
    column-gap: 1.7rem;
    margin: 3rem 0 3rem;
  }

  .hero-img {
    padding: 0;
  }

  .btn {
    font-size: 1.1rem;
    padding: 0 2rem;
  }

  .project-box {
    max-width: 40rem;
  }
}

@media (max-width: 842px) {
  .about-content,
  .about-skills {
    flex: 100%;
    padding: 0;
  }

  .about-skills {
    max-width: 40rem;
  }

  .services-row {
    justify-content: center;
  }

  .service-card {
    flex: 26.3rem;
    padding: 0 2rem;
    min-width: 31rem;
  }

  .service-card:nth-child(3) {
    max-width: 40rem;
  }

  .project-box {
    max-width: 34.9rem;
  }
}

@media (max-width: 700px) {
  .header-heading {
    font-size: 3.4rem;
    line-height: 1.3;
  }

  .header-heading span {
    font-size: 2.8rem;
  }

  .services {
    padding: 6rem 0;
  }

  .projects {
    padding: 6rem 0;
  }

  .project-box {
    max-width: none;
  }

  .portfolio-title {
    margin-bottom: 5rem;
  }

  .contact {
    padding: 6rem 0;
  }

  .contact-title {
    margin-bottom: 2rem;
  }

  .contact-content {
    margin-bottom: 2rem;
  }

  .contact-button {
    margin-bottom: 7rem;
  }

  .contact-social {
    column-gap: 5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 615px) {
  .service-card {
    flex: 26.3rem;
    padding: 0;
    min-width: 31rem;
  }

  .service-card:nth-child(3) {
    max-width: none;
  }
}

/* @media (max-width: 1180px) {
  .hero-img img {
    width: 80%;
  }
} */
